.statTeams, .score{
    display : flex;
    margin : 20px;
}
.active{
    display : block;
    margin : auto;
}
table{
    display : none;
    width:100%;
    padding : 5 10 5 10;
}
tbody{
    width:inherit;
    margin:auto;
}
li{
    list-style-type : none;
}
li:hover{
    cursor : pointer;
}
.gameInfo{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
}
